.skip-to-content-link:focus {
  z-index: 9999;
  position: inherit;
  overflow: auto;
  width: auto;
  height: auto;
  clip: auto;
}
.link {
  text-decoration: none;
  color: inherit;
  opacity: 1;
  transition: var(--transition-default);
  &:hover {
    opacity: 0.5;
  }
  &--full {
    position: absolute;
    inset: 0;
  }
}

.btn {
  display: inline-block;
  border: 2px solid;
  border-radius: 100px;
  font-weight: 700;

  font-size: 1.125rem;
  text-align: center;

  padding: 0.5rem 2rem;

  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
    font-weight: 400;
    opacity: 0.6;
  }
  &--sm {
    padding: 5px 1.25rem 6px;
  }
  &--primary {
    color: rgb(var(--color-light));
    background-color: rgb(var(--color-primary));
    border-color: rgb(var(--color-primary));
    transition: var(--transition-default);

    &:hover:not([disabled]) {
      @include media-breakpoint-up(md) {
        color: rgb(var(--color-primary));
        background-color: rgb(var(--color-light));
      }
    }
  }
  &--outline {
    color: rgb(var(--color-primary));
    //background-color: rgb(var(--color-light));
    background-color: transparent;
    border-color: rgb(var(--color-primary));
    transition: var(--transition-default);
    &--dark {
      color: rgb(var(--color-dark));
    }

    &:hover:not([disabled]) {
      @include media-breakpoint-up(md) {
        color: rgb(var(--color-light));
        background-color: rgb(var(--color-primary));
      }
    }
  }
  &--circle {
    width: 54px;
    height: 54px;
    @extend .rounded-circle, .flex-center;
  }
}
@include media-breakpoint-down(md) {
  .active-state,
  .link,
  .btn,
  .btn--outline,
  .btn--primary {
    &:active {
      opacity: 0.5 !important;
    }
  }
  .isSafari {
    @media (hover: hover) {
      .active-state,
      .link,
      .btn,
      .btn--outline,
      .btn--primary {
        opacity: 1;
        transition: 0.2s;
        &:hover {
          opacity: 0.5 !important;
        }
      }
    }
    .active-state--active {
      opacity: 0.5 !important;
    }
  }
}

button[name="add"]:not(.loading) .btn-adding-name,
button[name="add"].loading .btn-name {
  display: none !important;
}