.skip-to-content-link:focus {
  z-index: 9999;
  position: inherit;
  overflow: auto;
  width: auto;
  height: auto;
  clip: auto;
}
.link {
  text-decoration: none;
  color: inherit;
  opacity: 1;
  transition: var(--transition-default);
  &:hover {
    opacity: 0.5;
  }
  &--full {
    position: absolute;
    inset: 0;
  }
}

.btn {
  display: inline-block;
  border: 2px solid;
  border-radius: 100px;
  font-weight: 700;

  font-size: 1.125rem;
  text-align: center;

  padding: 0.5rem 2rem;

  &[disabled] {
    cursor: not-allowed;
    font-weight: 400;
    opacity: 0.6;
  }
  &--primary {
    color: rgb(var(--color-light));
    background-color: rgb(var(--color-primary));
    border-color: rgb(var(--color-primary));
    transition: var(--transition-default);

    &:hover:not([disabled]) {
      color: rgb(var(--color-primary));
      background-color: rgb(var(--color-light));
    }
  }
  &--outline {
    color: rgb(var(--color-primary));
    background-color: rgb(var(--color-light));
    border-color: rgb(var(--color-primary));
    transition: var(--transition-default);

    &:hover:not([disabled]) {
      color: rgb(var(--color-light));
      background-color: rgb(var(--color-primary));
    }
  }
}