.font-heading {
  font-family: var(--font-heading-family);
}

.visually-hidden {
  position: absolute!important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal!important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  color: rgb(var(--color-dark));
  word-break: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  @include media-breakpoint-up(md) {
    margin-bottom: 2.57rem;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
h1,
.h1 {
  font-size: 4rem;
  line-height: 110%;
  @include media-breakpoint-up(md) {
    font-size: 5.25rem;
    line-height: 100%;
  }
}
h2,
.h2 {
  font-size: 3.125rem;
  line-height: 110%;
  @include media-breakpoint-up(md) {
    font-size:  3.4375rem;
    line-height: 100%;
  }
}
h3,
.h3 {
  font-size: 2.75rem;
  line-height: 100%;
}
h4,
.h4 {
  font-size: 2.125rem;
  line-height: 100%;
}
h5,
.h5 {
  font-size: 1.5rem;
  line-height: 120%;
}
h6,
.h6 {
  font-size: 1.125rem;
  line-height: 120%;
}
.rte {
  font-size: 0.875rem;
  line-height: 155%;
  a {
    @extend .link;
  }
  p {
    margin-bottom: 2rem;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  h2 {
    @include media-breakpoint-up(md) {
      line-height: 100%;
    }
  }
  h4 {
    @include media-breakpoint-down(sm) {
      line-height: 130%;
    }
  }
  h4,
  h5,
  h6 {
    @include media-breakpoint-up(md) {
      margin-bottom: 1.4rem;
    }
  }
}
.transition-default {
  transition: var(--transition-default);
}