@import "functions";
@import "utils/grid";
@import "utils/colors";
@import "utils/text";
@import "utils/text-utils/line-height";
@import "utils/text-utils/font-size";
@import "utils/sizings";
@import "utils/radius";
@import "utils/image-fit";
@import "utils/position";
@import "utils/overflow";
@import "utils/display";
@import "utils/flex";
@import "utils/container";
@import "utils/spacing";
//@import "utils/opacity";
@import "utils/z-index";

.fit-contain {
  object-fit: contain !important;
}
.events-none {
  pointer-events: none;
}
.fit-cover {
  object-fit: cover;
}
.border-none {
  border: none !important;
}
