.cart {
  height: calc(100% - 61px);
  &__heading {
    &__bubble {
      letter-spacing: -2px;
      padding-right: 3px;
    }
  }
  &__inner {
    overflow-y: auto;
    height: calc(65.19 * var(--vh) * 1px);
    margin: -1rem;
    padding: 1rem;
    @include media-breakpoint-up(lg) {
      height: 302px !important;
    }
  }
  &__item {
    &__bubble {
      width: 1rem;
      height: 1rem;

      font-size: 0.5rem;
    }
    &__remove {
      top: -0.25rem;
      left: -0.25rem;

      background-color: rgb(var(--color-light));
      &:hover {
        background-color: rgb(var(--color-primary));
      }
    }
    &__qty {
      top: -0.25rem;
      right: -0.25rem;
    }
    &__media {
      width: 76px;
      @include media-breakpoint-up(md) {
        width: 80px;
      }
    }
  }
}