.cart {
  height: calc(100% - 61px);
  &__heading {
    &__bubble {
      letter-spacing: -2px;
      padding-right: 3px;
    }
  }
  &__inner {
    overflow-y: auto;
    height: calc(65.19 * var(--vh) * 1px);
    margin: -1rem;
    padding: 1rem;
    @include media-breakpoint-up(lg) {
      height: 302px !important;
    }
  }
  &__item {
    &__bubble {
      width: 1rem;
      height: 1rem;

      font-size: 0.5rem;
    }
    &__remove {
      top: -0.25rem;
      left: -0.25rem;

      background-color: rgb(var(--color-light));
      @include media-breakpoint-up(md) {
        &:hover {
          background-color: rgb(var(--color-primary));
        }
      }
    }
    &__qty {
      top: -0.25rem;
      right: -0.25rem;
    }
    &__media {
      width: 76px;
      @include media-breakpoint-up(md) {
        width: 80px;
      }
      > div {
        min-width: 78px;
        min-height: 86px;
      }
    }
  }
}

quantity-input.quantity {
  width: 110px !important;
  display: flex;
  border: 2px solid #000;
  border-radius: 5px;
  height: 32px;
  button {
    background: transparent;
    border: none;
    width: 29px;
    svg {
      width: 14px;
      height: 14px;
      pointer-events: none;
    }
  }
  [name="minus"] {
    border-right: solid 1px rgb(var(--color-primary)) !important;
  }
  [name="plus"] {
    border-left: solid 1px rgb(var(--color-primary)) !important;
  }
  .quantity__input {
    border: none;
    width: 50px;
    text-align: center;
    pointer-events: none;
  }
  .quantity__input::-webkit-outer-spin-button,
  .quantity__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .quantity__input[type=number] {
    -moz-appearance: textfield;
  }
}

