.header {
  top: 0;
  z-index: 1000;
  &--fixed {
    transform: none !important;
    transition: none !important;
  }
  &__logo {
    svg {
      display: block;
    }
  }
  &__inner {
    padding: 0 4px;
  }
  &__burger {
    padding: 0;
    width: 40px;
    height: 40px;
    padding: 14px 8px;
    border-color: transparent !important;
    border-radius: 20px !important;
    background: transparent;
    &__open {
      transform: translate(-50%, -50%) scale(1);
      @include media-breakpoint-down(md) {
        transition-delay: 0.2s;
      }
    }
    &__line {
      height: 2px;
      width: 100%;
      left: 0;
      border-radius: 4px;
      transform: rotate(0deg);
      background-color: currentColor;

      // @include media-breakpoint-down(md) {
      //   transition-delay: 0.25s;
      // }

      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 5px;
      }
      &:nth-child(4) {
        top: 10px;
      }
    }
    &--cart {
      .header__burger__line {
        opacity: 0;
        // @include media-breakpoint-down(md) {
        //   transition-delay: 0.25s;
        // }
      }
    }
    &:after {
      content: "";
      position: fixed;
      inset: 0;
      opacity: 0;
      pointer-events: none;
      transition: var(--transition-default);
      z-index: -1;
      @include media-breakpoint-up(lg) {
        background-color: rgba(var(--color-primary), 0.25);
      }
    }
  }
  &__nav {
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 2px solid currentColor;
    border-radius: 20px;
    transition-delay: 0.1s;
    
    > * {
      opacity: 0;
      transition: 0.35s;
      transition-delay: 0s;
    }
  }
}
[data-header-logo] {
  bottom: 0;
  left: 0;
  transition: 50ms;

  // width: calc(100% + (var(--progress) * 1vw - 2rem));
  max-width: calc(100vw - 2rem - 8px);

  svg {
    width: 100% !important;
    transition: 50ms;
  }
}
.open {
  .header__burger {
    &__line {
      transition-delay: 0s;
      &:nth-child(1) {
        top: 11px;
        width: 0%;
        left: calc(50% - 4px);
      }
      &:nth-child(2) {
        top: 11px;
        left: -6px;
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        top: 11px;
        left: -6px;
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 11px;
        width: 0%;
        left: calc(50% - 6px);
      }
    }
    &--cart {
      // Add additional clickable area
      @include media-breakpoint-down(md) {
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: calc(250%);
        }
      }
    }
    &__open {
      transform: scale(0);
    }
    &:after {
      opacity: 1;
      pointer-events: auto;
    }
  }
  .header__nav {
    top: 0;
    right: -4px;
    width: calc(100vw - 2rem);
    height: calc(var(--vh, 1vh) * 100 - 2rem);
    border-radius: 5px 20px 5px 5px;
    transition-delay: 0s;

    // transition-delay: 0s;
    @include media-breakpoint-up(lg) {
      width: 358px;
      height: 550px;
      right: 0;
    }
    > * {
      opacity: 1;
      transition-delay: 0.1s;
    }
  }
  &.header__cart-wrapper {
    .header__burger__open {
      transition-delay: 0s;
    }
    .header__burger__line {
      opacity: 1;
    }
    @include media-breakpoint-down(md) {
      .header__nav {
        right: calc(-1rem - 40px - 4px);
      }
      .header__burger__line {
        transition-delay: 0s;
        &:nth-child(2),
        &:nth-child(3) {
          left: calc(1rem + 40px - 4px);
        }
      }
    }
  }
  // + div {
  //   z-index: 0;
  // }
}

// .headroom {
//   // will-change: transform;
//   transition: transform 200ms linear;
// }
// .headroom--pinned {
//   transform: translateY(0%);
// }
// .headroom--unpinned {
//   transform: translateY(-100%);
// }