.header {
  top: 0;
  z-index: 1000;
  &__logo {
    svg {
      display: block;
    }
  }
  &__burger {
    padding: 0;
    width: 36px;
    height: 36px;
    &:not(.btn--outline) {
      background: transparent;
    }
    &__open {
      transform: translate(-50%, -50%) scale(1);
    }
    &__close {
      transform: translate(-50%, -50%) scale(0);
    }
    &:after {
      content: "";
      position: fixed;
      inset: 0;
      background-color: rgba(var(--color-primary), 0.25);
      opacity: 0;
      pointer-events: none;
      transition: var(--transition-default);
      z-index: -1;
    }
  }
  &__nav {
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 2px solid currentColor;
    border-radius: 20px;
    > * {
      opacity: 0;
    }
    &__wrapper {
      padding: 2px;
    }
  }
}
[data-header-logo] {
  bottom: 0;
  left: 0;

  width: calc(100% + (var(--progress) * 1vw - 2rem));
  max-width: calc(100vw - 2rem);
}
.open {
  .header__burger {
    &__open {
      transform: translate(-50%, -50%) scale(0);
    }
    &__close {
      transform: translate(-50%, -50%) scale(1);
    }
    &:after {
      opacity: 1;
      pointer-events: auto;
    }
  }
  .header__nav {
    width: 358px;
    height: 550px;
    border-radius: 5px 20px 5px 5px;
    > * {
      opacity: 1;
    }
  }
}