{% layout none %}
{% paginate collection.products by 8 %}
  {% for product in collection.products %}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3" data-aos="zoom-in-up" data-aos-delay="{% cycle '0', '100', '200', '300' %}">
      {% render 'card-product' card_product:product %}
    </div>
  {% endfor %}

  {%- if paginate.next -%}
    <div class="d-none" data-pagination-next></div>
  {%- endif -%}
{% endpaginate %}