/* The Modal (background) */
.modal-gallery {
  pointer-events: none;
  opacity: 0; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: -1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  .carousel-cell {
    img {
      width: 100%;
      height: auto;
      max-width: 934px;
      max-height: calc(100vh * 0.8);
      object-fit: cover;
      border-radius: 5px;
      border: 2px solid #1A1919;
      z-index: 1;
    }
  }
  .btn--circle {
    width: 40px;
    height: 40px;
  }
  .product__media__nav {
    z-index: 3;
  }
  #modal-gallery-prev,
  #modal-gallery-next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    display: block !important;
    z-index: 2;
    cursor: pointer;
    @include media-breakpoint-down(md) {
      display: none !important;
    }
  }
  #modal-gallery-prev {
    left: 0;
  }
  #modal-gallery-next {
    right: 0;
  }
}

/* Modal Content/Box */
.modal-gallery-content {
  background-color: transparent;
  border: none;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 934px;
  max-height: 934px;
  border-radius: 5px;
}

/* The Close Button */
.close {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 3;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

[data-open-modal] {
  cursor: pointer;
}