.password {
  /*.password-header {
    position: absolute;
    top: -110%;
  }*/
  footer {
    display: none;
  }
}
.main-password-section {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  &__inner {
    max-width: 43.25rem;
    justify-content: center;
    @include media-breakpoint-down(md) {
      justify-content: space-between;
    }
  }
  // > .container {
  //   width: 100%;
  //   @include media-breakpoint-down(md) {
  //     height: 100%;
  //   }
  // > .row {
  //   @include media-breakpoint-down(md) {
  //     height: 100%;
  //     justify-content: space-between;
  //     padding-top: 1rem;
  //     --bs-gutter-y: 1rem !important;
  //   }
  // }
  // }
  .icon.icon-error {
    width: 20px;
    height: 20px;
  }
  &__label {
    margin-bottom: 8px;
    @include media-breakpoint-down(md) {
      margin-bottom: 32px;
      margin-top: 6px !important;
    }
  }
  &__title {
    @include media-breakpoint-down(md) {
      padding-bottom: 0 !important;
    }
  }
  &__message {
    opacity: 0;
    transition: 0.2s;
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    &.reveal {
      opacity: 1;
      pointer-events: all;
    }
    @include media-breakpoint-down(md) {
      padding-top: 4rem !important;
    }
  }
  .form__input {
    font-size: 14px;
    height: 40px;
  }
  .form__submit {
    height: 40px !important;
    width: 40px !important;
  }
  .social-list__link {
    width: 1.5rem !important;
    height: 1.5rem !important;
    span {
      font-size: 0.625rem !important;
    }
  }
}
