.product {
  &__media {
    &__badge {
      width: 39px;
      bottom: 1rem;
      left: 1rem;
      box-sizing: border-box;
      @include media-breakpoint-up(md) {
        width: 54px;
      }
    }
    &__nav {
      bottom: 1rem;
      right: 1rem;

      @include media-breakpoint-down(sm) {
        .btn--circle {
          width: 39px;
          height: 39px;

          svg {
            width: 22px;
          }
        }
      }
    }
  }
  &__form {
    @include media-breakpoint-down(sm) {
      [type="submit"] {
        width: 100%;
      }
    }

    @include media-breakpoint-down(sm) {
      position: fixed;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
    }
  }
}
input:checked + label.btn--outline {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-light));
}
model-viewer::part(default-ar-button) {
  display: none !important;
}