.password {
  .password-header {
    position: absolute;
    top: -110%;
  }
  footer {
    display: none;
  }
}
.main-password-section {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  align-items: center;
  justify-content: center;
  > .container {
    width: 100%;
    @include media-breakpoint-down(md) {
      height: 100%;
    }
    > .row {
      @include media-breakpoint-down(md) {
        height: 100%;
        justify-content: space-between;
        padding-top: 1rem;
        --bs-gutter-y: 1rem !important;
      }
    }
  }
  .social-list__link {
    width: 1.5rem !important;
    height: 1.5rem !important;
    span {
      font-size: 0.625rem !important;
    }
  }
}