@keyframes move-img {
  0% { transform: translateY(-3px); }
  50% { transform: translateY(1px); }
  100% { transform: translateY(-3px); }
}

.preheader {
  &__inner {
    padding-bottom: 15px;
    // height: calc(var(--vh, 1vh) * 100 - var(--header-height));
    &__content {
      max-width: 49.375rem;
      margin-bottom: 90px;
      transform: translateY(90px);
      .btn--outline.rounded-circle {
        animation: move-img 3s infinite ease-in-out;
      }
    }
  }
  &__inner--line {
    margin: 0 !important;
    @include media-breakpoint-down(md) {
      display: inline;
    }
  }
  &.animate--leave {
    [data-aos="slide-logo"] {
      opacity: 0;
      transform: translateY(-35px);
    }
    [data-aos="slide-up-hero-text"] {
      opacity: 0;
      transform: translateY(-35px);
      transition-delay: 100ms;
      &:nth-child(2) {
        transition-delay: 200ms;
      }
      &:nth-child(3) {
        transition-delay: 300ms;
      }
    }
    [data-launch-animation] {
      opacity: 0;
      transform: translateY(-20px);
      transition-delay: 400ms;
    }
  }
}