$colors: "primary", "light", "dark";

@each $color in $colors {
  .text-#{$color} {
    color: c_rgb(var(--color-#{$color})) !important;
  }
  .bg-#{$color} {
    background-color: c_rgb(var(--color-#{$color})) !important;
  }
}

.bg-transparent {
  background: transparent;
}
