// Flex Utils
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-column {
  flex-direction: column;
}
.flex-fill {
  flex-grow: 1;
}
.align-items-start {
  align-items: start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.align-items-baseline {
  align-items: baseline;
}
.justify-content-start {
  justify-content: start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-self-end {
  align-self: flex-end;
}
.align-self-start {
  align-self: flex-start;
}
@include media-breakpoint-up(md) {
  .align-items-md-start {
    align-items: start;
  }
  .align-items-md-end {
    align-items: flex-end;
  }
  .align-self-md-end {
    align-self: flex-end;
  }
  .align-self-md-start {
    align-self: flex-start;
  }
  .justify-content-md-end {
    justify-content: end;
  }
  .justify-content-md-start {
    justify-content: start;
  }
}
@include media-breakpoint-up(sm) {
  .justify-content-sm-end {
    justify-content: end;
  }
}
@include media-breakpoint-up(lg) {
  .justify-content-lg-end {
    justify-content: end;
  }
}
.flex-center {
  @extend .d-flex, .align-items-center, .justify-content-center;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
@include media-breakpoint-up(md) {
  .flex-lg-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-md-row {
    flex-direction: row;
  }
  .align-items-md-center {
    align-items: center;
  }
}

.flex-shrink-0 {
  flex-shrink: 0;
}

$values-mobile:  "1", "2";
$values-desktop:  "1", "2";

@each $value in $values-mobile {
  .order-#{$value} {
    order: #{$value};
  }
}
@each $value in $values-desktop {
  @include media-breakpoint-up(md) {
    .order-md-#{$value} {
      order: #{$value};
    }
  }
}
