.card-product {
  height: 100%;
  &__media {
    @include media-breakpoint-down(sm) {
      border-color: transparent;
    }
    img {
      transition: var(--transition-default);
      + img {
        opacity: 0;
      }
    }
  }
  &:hover {
    img + img {
      opacity: 1;
    }
  }
}
