.option-color {
  width: 29px;
  height: 29px;
  border: 1px solid transparent;
  padding: 2px;
  background-clip: content-box;
  cursor: pointer;
  &:hover {
    border-color: rgba(var(--color-dark), 0.5);
  }
}

input:checked + .option-color,
.active-product .option-color {
  border: 1px solid rgb(var(--color-dark));
}