.option-color {
  width: 25px;
  height: 25px;
  border: 1px solid transparent;
  cursor: pointer;
  &:hover {
    border-color: rgba(var(--color-dark), 0.5);
  }
}

input:checked + .option-color,
.active-product .option-color {
  border: 1.5px solid rgb(var(--color-dark));
}